<a href="https://colab.research.google.com/github/SangeethaKaveti/sangeetha_INFO5731_Spring2023/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [6]:
# write your answer here
str = input("Enter a string: ") 
print(len(str))

Enter a string: sangeetha
9

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [7]:
# write your answer here
def count_chararcters_in_string(str):
    freq = {}
    for a in str:
        keys = freq.keys()
        if a in keys:
            freq[a] += 1
        else:
            freq[a] = 1
    return freq
print(count_chararcters_in_string('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [8]:
# write your answer here
list = [3, 1, 2] 
total = sum(list) 
print(total)

6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [9]:
# write your answer here
def char_replace(str):
    ch = str[0]
    str = str.replace(ch,'$')
    str = ch + str [1: ]
    return str
print(char_replace('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [10]:
# write your answer here
a=int(input("enter a: "))
b=int(input("enter b: "))
c=(1+a/b)**3
S=3.14*c
print("S is:",S)

enter a: 3
enter b: 4
S is: 16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4={**dic1,**dic2,**dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [12]:
# write your answer here
tuple=(4,5,6,7)
ele=2
if ele in tuple:
  print("exists")
else:
    print("does not exist")

does not exist

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [13]:
# write your answer here
values={5,3,15,8,1}
print("minimum value:",min(values))
print("maximum value:",max(values))

minimum value: 1
maximum value: 15

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [5]:
# write your answer here
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def make_groups(student_list):

  while(1):
    group_size = [random.randint(4,6) for i in range(5)] 
    if (len(student_list) - sum(group_size)) in [4, 5, 6]:
      group_size.append(len(student_list) - sum(group_size))
      break
    else:
      group_size = [] 

  for size in group_size:  
    group = random.sample(student_list, size)
    for groupMember in group:
      student_list.remove(groupMember)
    print(group)


make_groups(student_list)

['ak0956', 'gn0108', 'ja0964', 'dr0609', 'vm0377']
['sm1907', 'sk1458', 'ds0814', 'sm1640']
['sk1390', 'sa1198', 'sg1297', 'av0659', 'bg0320', 'sk1313']
['jl1252', 'fh0141', 'pr0353', 'vb0218', 'sc1229']
['ms1500', 'hy0232', 'kg0470', 'sb1357', 'nm0618']
['nv0234', 'kg0569', 'ak0934', 'sk1386', 'aos0040']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [14]:
# write your answer here
def duplicate_element_in_array(number):
    number_set = set()
    no_duplicate_element = -1
    for i in range(len(number)):
      if number[i] in number_set:
            return number[i]
      else:
            number_set.add(number[i])
    return no_duplicate_element
print(duplicate_element_in_array([ 2,4,3,4,5]))
print(duplicate_element_in_array([1,2,3,4,5,6]))

4
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [3]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
   dt = date(year, 1, 1)
   dt += timedelta(days = 6 - dt.weekday())
   while dt.year == year:
      yield dt
      dt += timedelta(days = 7)

for sunday in sundays(2022):
   print(sunday)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25