<a href="https://colab.research.google.com/github/SangeethaKaveti/sangeetha_INFO5731_Spring2023/blob/main/INFO5731_Assignment_One_fall2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [20]:
# Your code here
import random 
r = random.sample(range(1,100), 12)
#Ascending order
r.sort()
print ('Ascending order:', r)
#Descending order
r.sort(reverse=True)
print('Descending order:', r)
#Average
Average = sum(r) / len(r)
print('Average:', Average)

Ascending order: [1, 18, 39, 52, 55, 57, 73, 77, 78, 79, 82, 84]
Descending order: [84, 82, 79, 78, 77, 73, 57, 55, 52, 39, 18, 1]
Average: 57.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [21]:
# Your code here
#1
print("Enter two sentences")
first=input("First sentence:")
second=input("Second sentence:")
#2
import re 
l1= re.findall("[\w']+|[^\w\s]", first)
print (l1)
l2= re.findall("[\w']+|[^\w\s]", second)
print (l2)

Enter two sentences
First sentence:Alas! Am I alive?
Second sentence:This is my first python program
['Alas', '!', 'Am', 'I', 'alive', '?']
['This', 'is', 'my', 'first', 'python', 'program']

In [22]:
#3
same_words = []
for word in l1:
  if word in l2:
    same_words.append(word)
print(same_words)

[]

In [23]:
#4
Punctuations= ''''!""@{}?[]-;:'"\,()<>./#$%^&*_~'''
remove_punctuations1= ''
for f in first:
  for word in f:
    if word not in Punctuations:
         remove_punctuations1 += word
print(remove_punctuations1)

remove_punctuations2 = ''
for s in second:
  for word in s:
    if word not in Punctuations:
         remove_punctuations2 += word
print(remove_punctuations2)

Alas Am I alive
This is my first python program

In [24]:
#5
vowels = 'aeiou'
num_of_vowels_count1= {}.fromkeys(vowels,0)
for i in first:
  for letters in i:
     if letters in num_of_vowels_count1:
         num_of_vowels_count1[letters] += 1
print("Number of vowels in first sentence:",num_of_vowels_count1)

num_of_vowels_count2 = {}.fromkeys(vowels,0)
for k in second:
  for char in k:
     if char in num_of_vowels_count2:
         num_of_vowels_count2[char] += 1
print("Number of vowels in second sentence:",num_of_vowels_count2)

Number of vowels in first sentence: {'a': 2, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
Number of vowels in second sentence: {'a': 1, 'e': 0, 'i': 3, 'o': 2, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [25]:
# Your code here
def volume_of_a_sphere(r, pi = 3.14):
  return (4/3) * pi * (r ** 3)

print('r    V')
for r in range(1,10):
  print(str(r) +"  " +str(volume_of_a_sphere(r)))

r    V
1  4.1866666666666665
2  33.49333333333333
3  113.03999999999999
4  267.94666666666666
5  523.3333333333334
6  904.3199999999999
7  1436.0266666666666
8  2143.5733333333333
9  3052.08

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [16]:
# Your code here
#1
import pandas as pd

denton_housing = pd.read_csv('Assignment1_denton_housing.csv')
Occupied_housing_Units = denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
Occupied_housing_Units.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [17]:
#2
Vacant_housing_units = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value']
Occupied_housing_units= denton_housing[denton_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value']
Total = denton_housing[denton_housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value']
year = denton_housing[denton_housing['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year']
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(Vacant_housing_units,Total)]
Occupied = [str((Occupied/total)*100)+' %' for Occupied, total in zip(Occupied_housing_units,Total)]
final = pd.DataFrame(list(zip(year,Vacant,Occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
final

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [18]:
#3
vacant = denton_housing[denton_housing['title_field'] == 'Vacant Housing Units']
highest_num_of_housing= pd.concat([Occupied_housing_Units[Occupied_housing_Units['value'] == Occupied_housing_Units['value'].max()],vacant[vacant['value'] == vacant['value'].max()]])
print(highest_num_of_housing[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [19]:
#4
import statistics
print('Harmonic mean is {0}'.format(statistics.harmonic_mean(Total)))

Harmonic mean is 44398.28543969185